spring:
  datasource:
    url: jdbc:mysql://localhost:3306/studyfeed?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        use_sql_comments: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: "sangwha0@gmail.com"
    password: "clof gkny npng munw"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    redis:
      port: 6379
      host: localhost

gcp:
  firebase:
    service-account: classpath:firebase/firebase_service_key.json


cloud:
  aws:
    credentials:
      access-key: AKIAZI2LDE5M6BC22SHD
      secret-key: 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
    region:
      static: ap-northeast-2
    s3:
      bucket: test-image-bucket-123
    stack:
      auto: false